body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  #search-input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
  }
  
  #meal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .meal {
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .meal img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .favorite-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .favorite-btn:hover {
    background-color: #45a049;
  }
  